@import "overrides";
@import "../css/circular-font.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

// *::-webkit-scrollbar-track {
//   -webkit-box-shadow: none !important;
//   background-color: transparent !important;
// }

*::-webkit-scrollbar-thumb {
  background-color: #ffffff10;
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
  background-color: $secondary;
}

input.search-box {
  border-left: none;
  // padding-left: 0;
}

span.search-box {
  border-right: none;
}

.home-hero-container {
  background-color: #535353;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 30%);
}

// .home-hero-container {
//   transition: opacity 0.3s, visibility 0.3s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
// }

// .home-hero-container::-webkit-scrollbar {
//   width: 14px;
// }

// .home-hero-container::-webkit-scrollbar-track {
//   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to $primary);
//   background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, $primary 100%);
//   background: transparent;
// }

// .home-hero-container::-webkit-scrollbar-thumb {
//   background-color: hsla(0, 0%, 100%, 0.3);
// }
//-----------------CLASSI
.img-album {
  width: 200px;
}

input {
  border-radius: 20px;

  //  porco dio
  // height: 6px;

  appearance: none;
}

#range::-webkit-slider-thumb {
  appearance: initial;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
// #range::-webkit-slider-runnable-track {
//   // background: white;
// }
#range::-webkit-slider-thumb:hover {
  content: "";
  background: green;
  width: 15px;
  height: 15px;
}
#range::before {
  content: "";
  background: white;
}
/*
slidecontainer {
  margin: 0 auto;
  background-color: #afe0fc;
  padding: 1.5em;
  border-radius: 5px;
}
*/
.box {
  width: 35px;
  height: 35px;
  border-radius: 60%;
  position: relative;
}
.box-bottombar {
  width: 27px;
  height: 27px;
}
.play-background {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  background-color: #2edf64;
  position: sticky;
  top: 0px;
}
.height-for-fixed-bottom {
  height: 80px;
  width: 100%;
}

.btn-head {
  padding-block: 0;
  padding-inline: 2rem;
  border-radius: 25px;
  height: 25px;
}
.progress {
  height: 3px;
  width: 500px;
}

.home-sidebar {
  min-width: 300px;
  width: 300px;
}

.home-sidebar-buttons {
  position: relative;
}

.home-sidebar-buttons a {
  padding-inline: 10px;
}

.home-sidebar-buttons-faded {
  -webkit-mask-image: linear-gradient(90deg, #000 calc(100% - 120px), transparent);
  mask-image: linear-gradient(90deg, #000 calc(100% - 120px), transparent);
}

.home-sidebar-buttons-next {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.home-sidebar-list img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

.home-hero {
  // height: 30vh;

  // background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  // background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to $primary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, $primary 100%);
  background-color: #535353;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  margin-top: -72px;
  // padding-bottom: 72px;
}

.home-hero-nav {
  padding: 20px;
}

.home-hero-nav img {
  width: 32px;
  height: 32px;
  border-radius: 50vh;
  border: 3px solid $primary;
}

.home-card {
  height: 100%;
  background-color: $tertiary;
}

.home-card img {
  width: 100%;
}

#home-container {
  height: calc(100vh - 90px);
}

.artist-hero {
  height: 500px;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position: top;
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#artist-main-content {
  margin-top: 428px;
}

#artist-list-items {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
}

.artist-list-items-container:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

#artist-list {
  counter-reset: item;
}
#artist-list-items:before {
  content: counter(item) " ";
  counter-increment: item;
}

.artist-name-big {
  font-size: 5rem;
}

#artist-song-title {
  flex-grow: 2;
}
#artist-song-plays {
  flex-grow: 2;
}
#artist-song-minutes {
  flex-grow: 1;
}
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropend:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
}
